* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.mixins__img_assoaiy {
  display: flex;
}

.bacgraund {
  height: 700px;
  background-image: url(/img/3.svg);
  background-color: #073d4e;
}

.img__mixins img {
  width: 540px;
  margin-top: 120px;
}

.mixins_logo {
  margin-top: 192px;
  margin-bottom: 40px;
}

.mixins_paragref {
  color: #fff;
  margin-bottom: 40px;
  width: 530px;
}

.compane__href {
  margin-top: -15px;
  margin-bottom: 30px;
}
.compane__href a {
  color: #aabfc6;
  text-decoration: none;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.header {
  background-image: url(/img/3.svg);
  background-color: #073d4e;
  height: 970px;
}

.header_link {
  text-decoration: none;
  color: #a1b5bb;
}

.header_item {
  list-style-type: none;
}

.header_list {
  display: flex;
}

.header_item {
  margin-left: 30px;
}

.header_button a {
  padding: 14px 34px;
  background: #145e76;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  justify-content: flex-start;
}

.mein__logo {
  padding-top: 162px;
}

.mein__h1 {
  color: #ffffff;
  font-size: 55px;
  margin-top: 56px;
}

.mein__paragref {
  color: #849499;
  margin-top: 30px;
}

.mein__button {
  display: flex;
  margin-top: 50px;
}

.mein__hrif {
  color: #ffffff;
  padding: 20px 35px;
  background-color: #ffa63a;
  border-radius: 25px;
  text-decoration: none;
}

.mein__my {
  margin-left: 50px;
  text-decoration: none;
  color: #ffffff;
}

.tger {
  display: flex;
}

.alohida {
  width: 507px;
}

.hero-bg {
  background-image: url("/img/4.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 240px) calc(50% - 0px);
  background-size: 100% 100%;
  z-index: 999;
}

.mein__img {
  margin-top: 140px;
}
.mein__img img {
  margin: 0 auto;
  width: 1000px;
}

.our__servis {
  margin-top: 301px;
}

.service {
  color: #08546c;
  width: 510px;
  margin: 0 auto;
  font-size: 42px;
  margin-top: 30px;
}

.service__1 {
  margin-left: auto;
  text-align: center;
}

.portfolio_card {
  margin-top: 70px;
  width: 2938px;
  height: 251px;
  background: #ffffff;
  box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
  margin-bottom: 50px;
  margin-left: 26px;
}

.desing {
  font-size: 24px;
  margin-top: 25px;
}

.paragref__2 {
  width: 220px;
  color: #696969;
  padding-top: 10px;
}

.portfolio__2 {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 44px;
}

.portfolio__2:hover {
  background-color: #08546c;
}
.portfolio__2:hover h2 {
  color: #ffffff;
}

.cards {
  display: flex;
  justify-content: center;
}

.company__h1 {
  color: #08546c;
  font-size: 40px;
  margin-top: 150px;
  margin-bottom: 10px;
}

.company__paragref {
  color: #757575;
  width: 559px;
  margin-bottom: 60px;
}

.website__1 {
  margin-top: 40px;
  color: #08546c;
}

.website__paragref {
  color: #757575;
  width: 436px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.website__href {
  color: #08546c;
  font-size: 18px;
  text-decoration: none;
}

.website__img {
  margin-left: 15px;
  width: 16px;
}
.website__img img {
  align-items: flex-start;
}

.company__assosiy {
  justify-content: space-between;
  display: flex;
}

.portfolio_img_1 {
  width: 480px;
}

.portfolio__1 {
  margin-bottom: 70px;
}

.href__assosiy {
  display: flex;
}
.href__assosiy img {
  justify-content: center;
  margin-top: 4px;
}

.href__assosiy:hover a {
  color: #ffa800;
}

.blog__assosiy {
  margin-top: 200px;
  display: flex;
  margin-bottom: 111px;
}

.blog__career {
  color: #08546c;
  font-size: 35px;
  width: 540px;
  margin-top: 40px;
  padding-bottom: 20px;
}

.blog__paragref {
  color: #757575;
  width: 610px;
}

.blog__href {
  margin-top: 32px;
  display: flex;
  margin-right: 20px;
  text-decoration: none;
}

.blog___href__1_ a {
  text-decoration: none;
  color: #757575;
}

.blog___href__2 a {
  text-decoration: none;
  color: #757575;
  text-decoration: none;
  color: #757575;
  margin-left: 47px;
}

.blog___href__3 a {
  text-decoration: none;
  color: #757575;
  text-decoration: none;
  color: #757575;
  margin-left: 47px;
}

.blog___href__4 {
  margin-left: 114px;
}
.blog___href__4 a {
  text-decoration: none;
  color: #757575;
}

.blog___href__1_:hover a {
  color: #ffa800;
  border-radius: 30px;
  background-color: #fff8eb;
  width: 136px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog___href__2:hover a {
  color: #ffa800;
  border-radius: 30px;
  background-color: #fff8eb;
  width: 136px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.blog___href__3:hover a {
  color: #ffa800;
  border-radius: 30px;
  background-color: #fff8eb;
  width: 136px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.blog___href__4:hover a {
  color: #ffa800;
  border-radius: 30px;
  background-color: #fff8eb;
  width: 136px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my__blog {
  margin-left: 137px;
}

.blog__h2 {
  color: #08546c;
  font-size: 40px;
  width: 222px;
  margin-bottom: 20px;
}

.blog__paragref_2 {
  color: #757575;
}

.button__1 {
  margin-top: 60px;
  margin-bottom: 230px;
}
.button__1 a {
  background-color: #ffa63a;
  color: white;
  width: 191px;
  height: 61px;
  text-decoration: none;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin-bottom: 80px;
}

.footer__paragref {
  color: #757575;
  width: 314px;
  margin-top: 21px;
  margin-bottom: 30px;
}

.footer__img {
  margin-left: -20px;
}
.footer__img img {
  width: 20px;
  margin-left: 20px;
}

.footer__assosiy {
  display: flex;
}

.footer__2 {
  margin-left: 232px;
}
.footer__2 h3 {
  color: #08546c;
  margin-bottom: 20px;
}
.footer__2 p {
  color: #787878;
  margin-bottom: 20px;
}

.footer__3 {
  margin-left: 102px;
}
.footer__3 h3 {
  color: #08546c;
  margin-bottom: 20px;
}
.footer__3 p {
  color: #787878;
  margin-bottom: 20px;
}

.footer__4 {
  margin-left: 102px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.footer__4 h3 {
  color: #08546c;
  margin-bottom: 20px;
}
.footer__4 p {
  margin-right: 50px;
  font-size: 18px;
  color: #787878;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */