// our-sevise
.our__servis {
    margin-top: 301px;
}

.service {
    color: #08546c;
    width: 510px;
    margin: 0 auto;
    font-size: 42px;
    margin-top: 30px;
}

.service__1 {
    margin-left: auto;
    text-align: center;
}
