.portfolio_card {
    margin-top: 70px;
    width: 2938px;
    height: 251px;
    background: #ffffff;
    box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
    margin-bottom: 50px;
    margin-left: 26px;
}

.desing {
    font-size: 24px;
    margin-top: 25px;
}

.paragref__2 {
    width: 220px;
    color: #696969;
    padding-top: 10px;
}

.portfolio__2 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 44px;
}

.portfolio__2:hover {
    background-color: #08546c;
    h2 {
        color: #ffffff;
    }
}

.cards {
    display: flex;
    justify-content: center;
}
